# Group Dynamics

In [2]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path

## Step 1: Import `crypto_data.csv` into a Pandas DataFrame by using `read_csv`. Set the index as `data_date`. Be sure to include the `parse_dates` and `infer_datetime_format` parameters. Review the first five rows of the DataFrame.

In [4]:
# Using the read_csv function and the Path module, read in the crypto_data.csv file
# Use the 'data_date' column as the index. Include the parse_dates and infer_datetime_format parameters.
cryptopath = Path("../Resources/people.csv")
crypto_data_df = pd.read_csv("../Resources/crypto_data.csv")

# Review the first five rows of the DataFrame
# YOUR CODE HERE
crypto_data_df.head(5)

  cryptocurrency  data_priceUsd   data_date     data_time     timestamp
0        bitcoin            NaN  2017-05-09  1.494288e+12  1.557285e+12
1        bitcoin    1743.723523  2017-05-10  1.494374e+12           NaN
2        bitcoin    1828.678209  2017-05-11  1.494461e+12           NaN
3        bitcoin    1776.443919  2017-05-12  1.494547e+12           NaN
4        bitcoin    1714.964198  2017-05-13  1.494634e+12           NaN

## Step 2: Drop the `data_time` and `timestamp` columns from the DataFrame. Remove any missing values from the remaining columns. Review the first five rows of the cleaned DataFrame.

In [5]:
# Drop the data_time and timestamp columns
crypto_data_df = crypto_data_df.drop(columns=["data_time","timestamp"])

# Remove any rows with missing values
crypto_data_df = crypto_data_df.dropna()

# Review the first five rows of the cleaned DataFrame
crypto_data_df.head(5)

  cryptocurrency  data_priceUsd   data_date
1        bitcoin    1743.723523  2017-05-10
2        bitcoin    1828.678209  2017-05-11
3        bitcoin    1776.443919  2017-05-12
4        bitcoin    1714.964198  2017-05-13
5        bitcoin    1789.278913  2017-05-14

## Step 3: Group the DataFrame by `cryptocurrency`, and then plot the `data_priceUsd` for each cryptocurrency on a single plot.

In [6]:
# Group the DataFrame by cryptocurrency and then plot the data_priceUSD
# The plot should include parameters for legend and figsize.
crypto_data_plot = crypto_data_df.groupby("cryptocurrency")

# View the plot
# YOUR CODE HERE

                data_priceUsd
cryptocurrency
bitcoin           6323.018445
bitcoin-cash       733.997564
ethereum           369.037426
litecoin            85.618264
ripple               0.475986

In [8]:
crypto_data_plot.max()

                data_priceUsd   data_date
cryptocurrency
bitcoin          19339.922660  2019-05-07
bitcoin-cash      3476.844119  2019-05-07
ethereum          1346.037491  2019-05-07
litecoin           352.713468  2019-05-07
ripple               2.999459  2019-05-07

In [9]:
crypto_data_plot.min()

                data_priceUsd   data_date
cryptocurrency
bitcoin           1714.964198  2017-05-10
bitcoin-cash        78.977344  2017-08-01
ethereum            84.374014  2017-05-09
litecoin            22.550468  2017-05-09
ripple               0.154144  2017-05-09

## Step 4: Calculate the `average` price across two years for each cryptocurrency.

In [10]:
# Determine average price, or mean, for each cryptocurrency
#crypto_data_avg = # YOUR CODE HERE

# View the resulting Series
# YOUR CODE HERE

crypto_data_plot.mean()#

                data_priceUsd
cryptocurrency
bitcoin           6323.018445
bitcoin-cash       733.997564
ethereum           369.037426
litecoin            85.618264
ripple               0.475986

## Step 5: Calculate the `max` price across two years for each cryptocurrency.

In [11]:
# Determine max price for each cryptocurrency
#crypto_data_max = # YOUR CODE HERE

# View the resulting Series
# YOUR CODE HERE
crypto_data_plot.max()

                data_priceUsd   data_date
cryptocurrency
bitcoin          19339.922660  2019-05-07
bitcoin-cash      3476.844119  2019-05-07
ethereum          1346.037491  2019-05-07
litecoin           352.713468  2019-05-07
ripple               2.999459  2019-05-07

## Step 6: Calculate the `min` price across two years for each cryptocurrency.

In [12]:
# Determine min price for each cryptocurrency
#crypto_data_min = # YOUR CODE HERE

# View the resulting Series
# YOUR CODE HERE
crypto_data_plot.min()

                data_priceUsd   data_date
cryptocurrency
bitcoin           1714.964198  2017-05-10
bitcoin-cash        78.977344  2017-08-01
ethereum            84.374014  2017-05-09
litecoin            22.550468  2017-05-09
ripple               0.154144  2017-05-09

## Step 7: Answer the following questions:

**Question:** Which cryptocurrency had the largest swing in prices?

**Answer:**  # YOUR ANSWER HERE

**Question:** Which cryptocurrency do you recommend investing in?

**Answer:** # YOUR ANSWER HERE